<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
           %clr{%d{yyyy-MM-dd HH:mm:ss}{Asia/Ho_Chi_Minh}}{blue} %clr{%5p} %clr{---}{faint} [%15.15t] %clr{%-40.40c{1.}}{green} %clr{:}{faint} %m%n%xwEx
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>